<h1>Rangliste</h1>

<table>
  <thead>
    <tr>
      <th>Spieler</th>
      <th>erreichte Stufe</th>
      <th>Datum</th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td>
	  <% quiz.users.each do |user| %>
	    <%=  user.username %>
	  <% end %>
	</td>
        <td><%= quiz.finalDifficulty %></td>
        <td><%= Time.at(quiz.timestamp).to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
